FLASK_SECRET_KEY=replace-with-a-random-secret

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=replace-with-db-user
MYSQL_PASSWORD=replace-with-db-password
MYSQL_DB=Home_Manager

HOME_MANAGER_TCP_HOST=0.0.0.0
HOME_MANAGER_TCP_PORT=4242

FLASK_RUN_HOST=127.0.0.1
FLASK_RUN_PORT=5000
FLASK_DEBUG=true

SIMULATOR_TCP_HOST=127.0.0.1
SIMULATOR_TCP_PORT=4242
SIMULATOR_SEND_INTERVAL_SECONDS=5
